{% load static %}
<nav id="navbar1">
    <a href="{% url 'index' %}#about">about</a>
    <a href="{% url 'index' %}#photography">photography</a>
    <a href="{% url 'storyone' %}">story1</a>
    <a href="{% url 'schedule' %}">kelas</a>
    <a href="{% url 'kegiatan' %}">kegiatan</a>
</nav> 